.window {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin: auto;
  border: var(--border);
  border-radius: 20px;
  background: var(--chat-window-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}